In [1]:
import time
import cloudpickle
import pandas as pd
import numpy as np
np.set_printoptions(linewidth=200)
import sys
import generate_examples
import milp

### Create the desired list of examples to solve, by specifying:
- `num_customers_vals`: Number of customers in a list (num_customers_vals)
- `solomon_list`: Type of Solomon example (e.g. r101, c201)
- `N`: Number of random examples to generate for each combination of `num_customers_vals` and `solomon_list`
- `outfile`: The name of the txt file to store the names of the examples

In [2]:
num_customers_vals=[1,5,10,20]
N=5
solomon_list=['r101', 'c101']
outfile='examples_demo.txt'
generate_examples.generate_examples_list(num_customers_vals, N, solomon_list, outfile)

pickle file already exists, continuing
pickle file already exists, continuing
pickle file already exists, continuing
pickle file already exists, continuing
pickle file already exists, continuing
pickle file already exists, continuing
pickle file already exists, continuing
pickle file already exists, continuing
pickle file already exists, continuing
pickle file already exists, continuing
pickle file already exists, continuing
pickle file already exists, continuing
pickle file already exists, continuing
pickle file already exists, continuing
pickle file already exists, continuing
pickle file already exists, continuing
pickle file already exists, continuing
pickle file already exists, continuing
pickle file already exists, continuing
pickle file already exists, continuing
pickle file already exists, continuing
pickle file already exists, continuing
pickle file already exists, continuing
pickle file already exists, continuing
pickle file already exists, continuing
pickle file already exists, continuing
pickle file already exists, continuing
pickle file already exists, continuing
pickle file already exists, continuing
pickle file already exists, continuing
pickle file already exists, continuing
pickle file already exists, continuing
pickle file already exists, continuing
pickle file already exists, continuing
pickle file already exists, continuing
pickle file already exists, continuing
pickle file already exists, continuing
pickle file already exists, continuing
pickle file already exists, continuing
pickle file already exists, continuing

### The examples should be stored in the sub-directory "examples"

In [3]:
# load an example
num_customers=10
with open('examples/example_num_customers=10_i=0_solomon=r101'+'.pickle', 'rb') as f:
    loaded_example = cloudpickle.load(f)

In [4]:
time_table, dist_matrix = loaded_example

### Data Description
`time_table` column descriptions:
- e_i and l_i are the start and end (respectively) of the time windows within which the customers must be serviced
- s_i is the time it takes to service the customer
- customer_id is the identifier of the customer in the Solomon example that was sampled (notice they are sampled with replacement, so there can be duplicates)
- index indicates which customer in the generated example

`dist_matrix` is the distance matrix:
- distances are assumed to be equal to travel times
- distances are assumed to obey the triangle inequality
- distances are assumed to be symmetrical (distance from a to b is same as from b to a)

In [5]:
time_table

    customer_id    e_i    l_i   s_i
0           0.0    0.0    inf   0.0
1          45.0   32.0   42.0  10.0
2          48.0  165.0  175.0  10.0
3          65.0   51.0   61.0  10.0
4          68.0  142.0  152.0  10.0
5          68.0  142.0  152.0  10.0
6          10.0  124.0  134.0  10.0
7          84.0  101.0  111.0  10.0
8          22.0   97.0  107.0  10.0
9          37.0  134.0  144.0  10.0
10         88.0   74.0   84.0  10.0

In [6]:
np.shape(dist_matrix)

(101, 101)

In [7]:
dist_matrix

array([[ 0.        , 15.23154621, 18.        , ..., 21.26029163, 17.49285568, 24.04163056],
       [15.23154621,  0.        , 32.55764119, ..., 35.60898763, 31.144823  , 38.60051813],
       [18.        , 32.55764119,  0.        , ..., 16.4924225 , 17.49285568, 17.02938637],
       ...,
       [21.26029163, 35.60898763, 16.4924225 , ...,  0.        ,  5.09901951,  3.16227766],
       [17.49285568, 31.144823  , 17.49285568, ...,  5.09901951,  0.        ,  8.24621125],
       [24.04163056, 38.60051813, 17.02938637, ...,  3.16227766,  8.24621125,  0.        ]])

#### Compute optimal solution

In [8]:
df = time_table
dist_matrix = dist_matrix
n_customers = num_customers
(total_time, objective, data) = milp.solve_milp(df, dist_matrix, n_customers)

The route of vehicle k=0:
	 From node 0 to node 6
	 From node 6 to node 5
	 From node 5 to node 11
The route of vehicle k=1:
	 From node 0 to node 2
	 From node 2 to node 11
The route of vehicle k=2:
	 From node 0 to node 7
	 From node 7 to node 11
The route of vehicle k=4:
	 From node 0 to node 8
	 From node 8 to node 11
The route of vehicle k=6:
	 From node 0 to node 1
	 From node 1 to node 10
	 From node 10 to node 4
	 From node 4 to node 11
The route of vehicle k=7:
	 From node 0 to node 3
	 From node 3 to node 9
	 From node 9 to node 11

Vehicle 0 travels from 0 to 6
Vehicle 0 travels from 5 to 11
Vehicle 0 travels from 6 to 5
Vehicle 1 travels from 0 to 2
Vehicle 1 travels from 2 to 11
Vehicle 2 travels from 0 to 7
Vehicle 2 travels from 7 to 11
Vehicle 4 travels from 0 to 8
Vehicle 4 travels from 8 to 11
Vehicle 6 travels from 0 to 1
Vehicle 6 travels from 1 to 10
Vehicle 6 travels from 4 to 11
Vehicle 6 travels from 10 to 4
Vehicle 7 travels from 0 to 3
Vehicle 7 travels from 3 to 9
Vehicle 7 travels from 9 to 11
Node 1 arrival time: 42.0, within time window ( 32.0 42.0  )
Node 2 arrival time: 165.0, within time window ( 165.0 175.0  )
Node 3 arrival time: 51.0, within time window ( 51.0 61.0  )
Node 4 arrival time: 142.0, within time window ( 142.0 152.0  )
Node 5 arrival time: 152.0, within time window ( 142.0 152.0  )
Node 6 arrival time: 124.0, within time window ( 124.0 134.0  )
Node 7 arrival time: 111.0, within time window ( 101.0 111.0  )
Node 8 arrival time: 107.0, within time window ( 97.0 107.0  )
Node 9 arrival time: 134.0, within time window ( 134.0 144.0  )
Node 10 arrival time: 74.0, within time window ( 74.0 84.0  )

In [9]:
print('time is ',         total_time)
print('objective_val is ',objective)
print('data is ',         data)

time is  0.019872188568115234
objective_val is  154.79092799273852
data is  unknown